#results {
  display: none;
}

body {
  background-color: grey;
}

h1 {
  font-weight: 300;
  font-style: Italic;
  text-align: center;
  font-weight: bold;
}

li {
  font-weight:300rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

#groceryList {
  width: 300px;
}